<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.jjimenezpj.pojos"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/jjimenezpj/mapper/CursoMapper.xml"/>
        <mapper resource="com/jjimenezpj/mapper/ProfesorMapper.xml"/>
    </mappers>
</configuration>
